@{
    ViewData["Title"] = "Poker Game";
}
@*
<div class="text-center">
    <h1 class="display-4">POKER GAME</h1>
    <h1 class="display-7">Five Card Draw</h1>
    <p style="font-size:100px">	&#x1F0C6; &#x1F0BE; &#x1F0D1; &#x1F0A1;</p>
    <p>
   
    </div>
</div>
*@